// @use './variables' as *; 제거
@import '@/styles/variables.scss';

@mixin a11y-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

@mixin container {
  background: #ff0;
  max-width: 76.8rem;
  width: 100%;
  margin: 0 auto;
  font-size: $font-size;
  .title {
    font-size: $font-size-title;
  }
  .sub_title {
    font-size: $font-size-subtitle;
  }
}

@mixin flex-center-row() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin shadow() {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
