@import '@/styles/index.scss';

.container {
  @include container;
  // background: #eee;
  height: 100vh;
  padding: 2rem;

  .title {
    // color: $text-color;
    color: #ff3478;
    font-weight: bold;
    border-bottom: 1px solid #ff3478;
    padding: 2rem;
  }
  .hash {
    display: flex;
    gap: 1rem;
    margin: 3rem 0;
    li {
      display: inline-block;
      a {
        padding: 0.6rem 1.4rem;
        background: rgba(1, 82, 204, 0.1);
        border-radius: 18px;
        color: #0152cc;
        font-size: small;
        font-weight: 600;
      }
    }
  }

  .location {
    display: inline-block;
    color: $black;
  }

  .itemList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    li {
      display: inline-block;
      text-align: center;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @media screen and (min-width: 390px) and (max-width: 768px) {
    .itemList {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 768px) {
    .itemList {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
